<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('packagetable').DataTable();
        } );
    </script>
</head>
<body ng-app="demo">
<hr/>

<div class="container" ng-controller="PackageController">
    <input type="text" ng-model="author" class="input-sm spacing" placeholder="Author Name"/>
    <button ng-click="searchbyauthor()" class="btn btn-sm btn-info">Search Author</button>

    <button ng-click="searchpackage()" class="btn btn-sm btn-info">Show Packages</button>
    <table id="packagetable" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Package Name</th>
            <th>Version</th>
            <th>Description</th>
            <th>License</th>
            <th>Author</th>
            <th>Author Email</th>
            <th>Dependencies</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="package in allPackages">
                <td>{{package.packageDetailsName}}</td>
                <td>{{package.packageDetailsVersion}}</td>
                <td>{{package.packageDescription}}</td>
                <td>{{package.packageLicense}}</td>
                <td>{{package.authorName}}</td>
                <td>{{package.authorEmail}}</td>
                <td>{{package.dependencies}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--
<div class="container" ng-controller="UserController">
    <div class="row">
        <label>User</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/>
        <label>Skills</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing"
                                     placeholder="use comma to separate skills"/>
        <button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{allUsers | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.userName}}</h3>
            <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>
        </div>
    </div>
</div>

-->

</body>
<script src="js/lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/Controllers/PackageController.js"></script>
<script src="js/app/Services/PackageService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
</html>